<html>
<head>
<title>MyWeb v0.1</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<table border="0">
<tr>
<td>
<table border="1">
<tr>
<td>指数</td>
<td>B股</td>
<td>沪深300</td>
<td>上证50</td>
<td>国债</td>
<td>中证500</td>
<td>创业板</td>
</tr>
<tr>
<td>涨跌</td>
{% for index_data in index_list %}
{% if index_data>1 %}
<td bgcolor="#FF0000">{{ index_data }}</td>
{% elif index_data<-1 %}
<td bgcolor="#00FF00">{{ index_data }}</td>
{% else %}
<td>{{ index_data }}</td>
{% endif %}
{% endfor %}
</tr>
</table>
</td>

<td>*</td>

<td>
<table border="1">
<tr>
<td>基金</td>
<td>嘉实元合</td>
<td>合润A</td>
</tr>
<tr>
<td>涨跌</td>
{% for j in jj %}
{% if j<1.0 %}
<td bgcolor="#FF0000">{{ j }}</td>
{% else %}
<td>{{ j }}</td>
{% endif %}
{% endfor %}
</tr>
</table>
</td>

<td>*</td>

<td>
<table border="1">
<tr>
<td>AUD:CNY</td>
<td>涨跌</td>
<td>HKD:CNY</td>
<td>涨跌</td>
<td>USD:CNY</td>
<td>涨跌</td>
<td>AUD:USD</td>
<td>涨跌</td>
</tr>
<tr>
{% for wh in wh_list %}
{% for w in wh %}
{% if w>=-0.3 and w<=0.3 %}
<td bgcolor="#00FF00">{{ w }}</td>
{% else %}
<td>{{ w }}</td>
{% endif %}
{% endfor %}
{% endfor %}
</tr>
</table>
</td>

<td>*</td>

<td>
<table border="1">
<tr>
<td>黄金</td>
<td>涨跌</td>
<td>石油</td>
<td>涨跌</td>
<td>白银</td>
<td>涨跌</td>
</tr>
<tr>
{% for sp in sp_list %}
{% for s in sp %}
<td>{{ s }}</td>
{% endfor %}
{% endfor %}
</tr>
</table>
</td>

</table>

<hr />

<table border="1">
<th>名称</th>
<th>代码</th>
<th>现价</th>
<th>正股名称</th>
<th>正股代码</th>
<th>股价</th>
<th>涨跌幅</th>
<th>建仓价</th>
<th>加仓价</th>
<th>重仓价</th>
<th>说明</th>
<th>转股价</th>
<th>转股起始日</th>
<th>溢价率</th>
<th>持仓</th>
<th>剩余年限</th>
<th>到期价值</th>
<th>到期年化</th>
<th>强赎天数</th>

{% for cb in cx %}
<tr>
{% for cc in cb %}
<td>{{ cc }}</td>
{% endfor %}
</tr>
{% endfor %}

{% for eb in ex %}
<tr>
{% for ee in eb %}
<td>{{ ee }}</td>
{% endfor %}
</tr>
{% endfor %}

</table>

<a href='./cb'><h1>查询所有可转债</h1></a>

{% endblock %}
</body>
</html>
